<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="CucumberSelenium Test Suite">
	
	<!-- <test name="UI Test">
		<classes>
			<class name="Runner.TestRunner" />
		</classes>
	</test> -->
	
	<test name="API Test">
		<classes>
			<class name="com.tmos.api.runner.APITestRunner" />
		</classes>
	</test>
</suite>

